:root {
    --base: #004473;
    --spacing: 10px;
    --blur: 10px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    width: 950px;
}

.hl {
    color: var(--base);
    font-weight: bold;
}

body {
    text-align: center;
    background-color: #566068;
    color: white;
    font-family: Josefin Sans;
    font-weight: 100;
    font-size: 50px;
}

.controls {
    margin-bottom: 50px;
}

input {
    width: 100px;
}